<div class="todoListDisplay">
	<md-list class="app-list">
		<md-list-item *ngFor="let item of todoItems">
			<div>
				<md-checkbox type="checkbox" name="isCompleted" [(ngModel)]="item.isComplete" (change)="todoItemCompletedChanged(item.key)">{{item.name}}
					<button md-raised-button (click)="deleteTodoItem(item.key, $event)">DELETE</button>
				</md-checkbox>
			</div>
		</md-list-item>
	</md-list>
	<!--{{ todoItems | json}}
	 : <span>{{item.name}}</span>
			<a href="#" (click)="deleteTodoItem(item.key, $event)">Delete</a>
	-->
</div>